:root {
    --fondo: #f8fafc;
    --blanco: #ffffff;
    --titulo: #1e293b;
    --oscuro: #0f172a;
    --verde: #10b981;
    --texto-secundario: #475569;
    --texto: #64748b;
    --texto-footer: #94a3b8;
    --borde: #e2e8f0;
}